# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.swp

# Build / compiled output
dist/
build/

# Coverage / testing
coverage/
.nyc_output/

# Temporary files
tmp/
temp/

# Optional: if using PM2 or nodemon
pids
*.pid
*.seed
*.pid.lock

# Optional: if using Typescript
*.tsbuildinfo